


img {
    margin-left:58px;
    width: 100%;
    image-orientation: unset;

}

img:hover{
    transition: ease-in-out, width .35s ease-in-out;
}


.headcontainer {
    margin-left:72px;
    padding: -100px;
    text-align: center;
  }
  

  span{
    margin-left:58px;
   

  }

.container2{
    margin-left:58px;
}